$base: 4px;


$color--main: #F7515C;
$color--submain: #B1A296;
$color--text: #FFFFFF;
$color--border: #f3eff2;
$color--back: #e6e6e6;
$color--link: #5d5d5f;
$color--dark:#EBEDFF;
$color--black: #000000;


$font--lemon--regular: 'Lemon-Regular', cursive;
$font--inter--regular: 'Inter-Regular', sans-serif;
$font--inter--medium:  'Inter-Medium', sans-serif;
$font--inter--semibold: 'Inter-SemiBold', sans-serif;
$font--inter--bold: 'Inter-Bold', sans-serif;
$font--inter--extrabold: 'Inter-ExtraBold', sans-serif;


$transition: .2s;